#main {
    width: 192px;
    height: 222px;
    border: 2px solid blue;
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row-reverse wrap;
	margin: auto;
}

h1{
	text-align-last: center;
	font-weight: bold;	
	margin-bottom: 15%;

}
#main div {
    width: 60px;
    height: 70px;

}

.colorblock{
	background-color: lightblue;
	border:  2px solid black;
}